@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

/* Animations for buttons */
@keyframes pulse-subtle {
  0%,
  100% {
    box-shadow: 0 0 0 0 var(--color-primary-500, var(--color-primary-300));
  }
  50% {
    box-shadow: 0 0 0 8px transparent;
  }
}

.animate-pulse-subtle {
  animation: pulse-subtle 2s ease-in-out infinite;
}

/* social network button hover animation */
@keyframes social-glow {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--color-primary-500, var(--color-primary-300));
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 8px transparent;
  }
}

.animate-social-glow {
  animation: social-glow 2s ease-in-out infinite;
}
